.page.theme_dark, .page.theme_auto {
    --background-color: #000028;
    --accent-color: #FF0070;
    --title-color: #DB00FF;
    --title-shadow-color: #FF0070;
    --accent-color-with-background: #000028;
    --button-hover-color: #FF007066;
    --focus-color: #FF0070;
    --rec-color: #FF0070;
    --menu-color: #FF0070;
    --header-color: #FF0070;
    --decor-color: #FF0070;
    --image-background: url(../images/cover-image-dark.png);
    --text-color: #F1B2CE;
}
.theme_dark .rec-indicator, .theme_auto .rec-indicator {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-color: #000028;
        --accent-color: #FF0070;
        --title-color: #DB00FF;
        --title-shadow-color: #FF0070;
        --accent-color-with-background: #000028;
        --button-hover-color: #FF007066;
        --focus-color: #FF0070;
        --rec-color: #FF0070;
        --menu-color: #FF0070;
        --header-color: #FF0070;
        --decor-color: #FF0070;
        --image-background: url(../images/cover-image-dark.png);
        --text-color: #F1B2CE;
    }

    .rec-indicator {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

