:root {
    --primary-font-family: 'IBM Plex mono';
    --secondary-font-family: Arial, sans-serif;
    --accent-color: #FF8DCB;
    --background-color: #FFF1F7;
    --accent-color-with-background: #353430;
    --title-color: #FFC2E6;
    --header-color: #353430;
    --decor-color: #353430;
    --menu-color: #353430;
    --image-background: url(../images/cover-image-light.png);
    --text-color: #353430;

    /*Фон и картинки*/
    --background-image-light: url(../images/cover-image-light.png);
    --background-image-dark: url(../images/cover-image-dark.png);

    /* Размеры шрифтов */
    --mobile-version-font: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    --font-for-computer-and-tablet-versions: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    --font-size-normal: 18px;

    /*Толщина шрифта*/
    --bold: 700;
    --trin: 400;

    /* Высоты */
    --title-line-height: 95.7px;
    --paragraph-line-height: 23.4px;

    /* Отступы */
    --header-menu-start-margin: 65px;
}
